@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
.link {
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
}

.link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: clip;
}
@font-face {
  font-family: 'Eurostile';
  src: url('/fonts/EuroStyle Normal.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Eurostile';
  src: url('/fonts/eurostile.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Eurostile';
  src: url('/fonts/eurostileRegular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Eurostile';
  src: url('/fonts/eurostile-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Eurostile';
  src: url('/fonts/EurostileBeckerHeavyRegular.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: 'Eurostile', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Eurostile', sans-serif;
  font-weight: 700;
}
