@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
.link {
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
}

.link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
@font-face {
  font-family: 'Eurostile Becker Heavy';
  src: url('/fonts/EurostileBeckerHeavyRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Eurostile Becker';
  src: url('/fonts/EurostileBeckerHeavyRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Eurostile Bold';
  src: url('/fonts/eurostile-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: 'Eurostile Becker', sans-serif;
}
@font-face {
  font-family: 'Eurostile Regular';
  src: url('/fonts/eurostileRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Eurostile Regular', sans-serif;
  font-weight: bold; /* Apply bold to make it bold but not extra bold */
}
